<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class='container-fluid'>

</div> -->
<div class="container">
  <div class="row col-12">
    <vg-player >
      <video #media
             [vgHls]="videoLink"
             (onGetBitrates)="hlsBitrates = $event"
             id="my-video"
             type="video/mp4"
             preload="auto"
             controls
             crossorigin>
      </video>
    </vg-player>
  </div>
</div>
<router-outlet></router-outlet>
