<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class='container-fluid'>

</div> -->
<div class="container">
  <div class="row title"><h2>LTV1 Tiesiogiai</h2></div>
  <div class="row video player">
    <vg-player>
      <video #media
             [vgHls]="videoLink"
             (onGetBitrates)="hlsBitrates = $event"
             id="my-video"
             type="video/mp4"
             preload="auto"
             controls
             crossorigin>
      </video>
      <span *ngIf='playing' class='liveTag'>• Tiesiogiai</span>
      <!-- <div class="player__controls">
        <button class="player__button toggle" title="Toggle Play">►</button>
        <span>Live</span>
        <input type="range" name="volume" class="player__slider" min="0" max="1" step="0.05" value="1">
      </div> -->
    </vg-player>
  </div>
  <div class="row programa">
      <div *ngFor='let prog of programa; let i = index' class="col-6 card ">
          <div class="card-body">
            <p *ngIf='i===0'>Dabar rodoma: {{prog.channel}} </p>
            <p *ngIf='i > 0'>{{prog.channel}}</p>
              <h3 class='col-9'>{{prog.title}}</h3>
              <p class='col-9'>{{prog.desc}}</p>

          </div>

        </div>
  </div>

</div>
<router-outlet></router-outlet>
